.button_conteiner{
    display: flex;
    gap: 0px 10px;
    justify-content: center;
}
.Feedback_button{
    padding: 10px;
    background-color: rgb(63, 63, 164);
    border: 1px;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    /* transition: background  color 6ms; */
    transition: all 500ms ;
    cursor: pointer;
}
.Feedback_button:hover{
    color: black;
    background-color: rgb(255, 242, 0);
}